
<form  (ngSubmit) ="onSubmit()"
      #tooltipForm="ngForm"
      cForm
      class="row g-3 needs-validation"
>
<c-col class="position-relative" [md]="4">
  <label cLabel for="titre">Title</label>
  <input  [(ngModel)]="formation.titre" name="titre" cFormControl id="titre" required type="text" value="Mark" />
  <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
</c-col>
  <c-col class="position-relative" [md]="4">
    <label cLabel for="description">Description</label>
    <input  [(ngModel)]="formation.description" name="Description" cFormControl id="description" required type="text" value="Mark" />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>
  <c-col class="position-relative" [md]="4">
    <label cLabel for="dateDebut">Start Date </label>
    <input  [(ngModel)]="formation.dateDebut" name="dateDebut" cFormControl id="dateDebut" required type="date" value="Otto" />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" [md]="4">
    <label cLabel for="dateFin">End Date </label>
    <input  [(ngModel)]="formation.dateFin" name="dateFin" cFormControl id="dateFin" required type="date" value="Otto" />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" [md]="4">
    <label cLabel for="status">Status</label>
    <select [(ngModel)]="formation.status" name="status" cFormControl id="status" required>
      <option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</option>
    </select>
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>


  <c-col class="position-relative" [md]="4">
    <label  cLabel for="formateurEx">Formateur Externe</label>
    <select [(ngModel)]="idSelectedFormateurEx" name="status" aria-label="formateurEx" cSelect>
      <option>Select Formateur Externe</option>
      <option *ngFor="let formateurEx of formateurExs" value="{{formateurEx.id}}">{{formateurEx.prenom}} {{formateurEx.nom}}</option>
    </select>
  </c-col>
  <c-col class="position-relative" [md]="4">
    <label  cLabel for="formateurIn">Formateur Interne</label>
    <select [(ngModel)]="idSelectedFormateurIn" name="status" aria-label="formateurIn" cSelect>
      <option>Select Formateur Interne</option>
      <option *ngFor="let formateurIn of formateurIns" value="{{formateurIn.id}}">{{formateurIn.firstname}} {{formateurIn.lastname}}</option>
    </select>
  </c-col>
  <c-col class="position-relative" [md]="4">
    <label  cLabel for="participants">Les participants</label>
    <select [(ngModel)]="idSelectedParticipants" multiple name="participants" aria-label="participants" cSelect>
      <option>Select participants</option>
      <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.firstname}} {{employee.lastname}}</option>
    </select>
  </c-col>

  <c-col class="position-relative" [md]="4">
    <label cLabel for="documents">Add documents</label>
    <input [(ngModel)]="formation.documents" name="documents" cFormControl id="documents" type="file" multiple />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col xs="12">
    <button cButton class="me-1" color="primary" type="submit">
      Submit
    </button>
  </c-col>
</form>
