
<form  (ngSubmit) ="onSubmit()"
      #tooltipForm="ngForm"
      cForm
      class="row g-3 needs-validation"
>
<c-col class="position-relative" [md]="4">
  <label cLabel for="titre">titre</label>
  <input  [(ngModel)]="formation.titre" name="titre" cFormControl id="titre" required type="text" value="Mark" />
  <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
</c-col>
  <c-col class="position-relative" [md]="4">
    <label cLabel for="description">Description</label>
    <input  [(ngModel)]="formation.description" name="Description" cFormControl id="description" required type="text" value="Mark" />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>
  <c-col class="position-relative" [md]="4">
    <label cLabel for="dateDebut">Date de debut </label>
    <input  [(ngModel)]="formation.dateDebut" name="dateDebut" cFormControl id="dateDebut" required type="date" value="Otto" />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" [md]="4">
    <label cLabel for="dateFin">Date de fin </label>
    <input  [(ngModel)]="formation.dateFin" name="dateFin" cFormControl id="dateFin" required type="date" value="Otto" />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" [md]="4">
    <label cLabel for="status">Status</label>
    <select [(ngModel)]="formation.status" name="status" cFormControl id="status" required>
      <option *ngFor="let option of statusOptions" [value]="option.value">{{ option.label }}</option>
    </select>
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>



  
  <c-col class="position-relative" [md]="4">
    <label cLabel for="documents">Ajouter des documents</label>
    <input  [(ngModel)]="formation.documents" name="documents" cFormControl id="documents" required type="text" value="Mark" />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col xs="12">
    <button cButton class="me-1" color="primary" type="submit">
      Submit
    </button>
  </c-col>
</form>
